In [45]:
import numpy as np
import pandas as pd
from functools import reduce

In [3]:
data = pd.read_csv('data/golf_binary.csv')
data.head()

    Outlook Temperature Humidity    Wind Play Golf
0     Rainy         Hot     High    Weak        No
1     Rainy         Hot     High  Strong        No
2  Overcast         Hot     High    Weak       Yes
3     Sunny        Mild     High    Weak       Yes
4     Sunny        Cool   Normal    Weak       Yes

Приведем все текстовые показатели к бинарному виду

In [7]:
name = {'Rainy': [], 'Overcast': [], 'Sunny': [], 'Hot': [], 'Mild': [], 'Cool': [], 'Humidity': [], 'Wind': [], 'Play Golf': []}
df = pd.DataFrame(name)
df

Empty DataFrame
Columns: [Rainy, Overcast, Sunny, Hot, Mild, Cool, Humidity, Wind, Play Golf]
Index: []

In [12]:
df['Rainy'] = data['Outlook'].replace({'Rainy' : 1, 'Overcast' : 0, 'Sunny' : 0})
df['Overcast'] = data['Outlook'].replace({'Rainy' : 0, 'Overcast' : 1, 'Sunny' : 0})
df['Sunny'] = data['Outlook'].replace({'Rainy' : 0, 'Overcast' : 0, 'Sunny' : 1})

df['Hot'] = data['Temperature'].replace({'Hot' : 1, 'Mild' : 0, 'Cool' : 0})
df['Mild'] = data['Temperature'].replace({'Hot' : 0, 'Mild' : 1, 'Cool' : 0})
df['Cool'] = data['Temperature'].replace({'Hot' : 0, 'Mild' : 0, 'Cool' : 1})

df['Humidity'] = data['Humidity'].replace({'High' : 0, 'Normal' : 1})

df['Wind'] = data['Wind'].replace({'Weak' : 0, 'Strong' : 1})

df['Play Golf'] = data['Play Golf'].replace({'No' : 0, 'Yes' : 1})

In [13]:
df.head()

   Rainy  Overcast  Sunny  Hot  Mild  Cool  Humidity  Wind  Play Golf
0      1         0      0    1     0     0         0     0          0
1      1         0      0    1     0     0         0     1          0
2      0         1      0    1     0     0         0     0          1
3      0         0      1    0     1     0         0     0          1
4      0         0      1    0     0     1         1     0          1

In [14]:
array = df.values
X = array[:,0:8]
y = array[:,8]

Применим формулу условной вероятности

In [56]:
def find_conditional_probability(x, y, k):
    conProb = []
    l = len(y)
    countX = len(x[0])
    xList = x[k]
    count = 0
        
    # числитель
    if y[k] == 1:
        s = sum(y) # кол-во y=1
    else:
        s = l - sum(y) # кол-во y=0
        
    pY = s/l
      
    for i in range(countX):
        for j in range(l):
            if X.transpose()[i, j] == X[k, i] and y[j] == y[k]:
                count += 1
        conProb.append(count/s)
        
    numerator = pY * reduce((lambda x, y: x * y), conProb) # числитель
    
    # знаменатель
    if y[k] == 1:
        newY = 0
    else:
        newY = 1
        
    newS = 1 - s
    newconProb = []
    count = 0
    for i in range(countX):
        for j in range(l):
            if X.transpose()[i, j] == X[k, i] and y[j] == newY:
                count += 1
    newconProb.append(count/newS)
    
        
    denominator = reduce((lambda x, y: x * y), conProb) + reduce((lambda x, y: x * y), newconProb) # знаменатель
    
    return numerator/denominator

In [57]:
find_conditional_probability(X, y, 0)

0.3589330494610559